.cabecalho{
    background-color: var(--cor-de-fundo);
    padding: 1em;
}
.container{
    display: flex;
    align-items: center;
}
.container_imagem, .container_titulo,
.container_frase{
    padding: 1em;
}
.container_titulo, .container_frase{
    padding: 1em;
}
.container_titulo, .container_frase{
    display: none;
}
@media screen and (min-width: 820px){
    .container_titulo, .container_titulo--negrito{
        font-size: 32px
    }
    .container_titulo{
        display: block;
        width: 30vw;
    }
}
@media screen and (min-width: 1024px){
    .container_frase{
        display: block;
        font-size: 20px;
        padding-left: 5em;
 
    }
    .container-titulo{
        font-family:var(--fonte-principal);
        font-size:30px;
        font-weight:400;        
}
.container-titulo-negrito{
    font-weight: 700;
}

.container-frase{
    font-family:var(--fonte-secundaria);
    font-weight:300;
}
}
